{% extends 'main/layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Добро пожаловать на наш сайт!</h1>
  <p class="lead">
    Мы рады приветствовать вас на официальном сайте нашей компании. Мы предлагаем широкий спектр профессиональных услуг для частных и корпоративных клиентов.
  </p>
  <p>
    Ознакомьтесь с нашими <a href="{% url 'services' %}" class="link-primary">услугами</a>, узнайте больше <a href="{% url 'about' %}" class="link-primary">о нас</a> или <a href="{% url 'contacts' %}" class="link-primary">свяжитесь</a> с нами — мы всегда на связи!
  </p>
</div>
{% endblock %}