{% extends 'main/layout.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}
<h1>Добро пожаловать на наш сайт!</h1>
<p class="lead">
  Мы рады приветствовать вас на официальном сайте нашей компании. Мы предлагаем широкий спектр профессиональных услуг для частных и корпоративных клиентов.
</p>
<p>
  Ознакомьтесь с нашими <a href="{% url 'services' %}">услугами</a>, узнайте больше <a href="{% url 'about' %}">о нас</a>, или <a href="{% url 'contacts' %}">свяжитесь</a> с нами — мы всегда на связи!
</p>
{% endblock %}