{% extends 'main/layout.html' %}

{% block title %}
    Услуги
{% endblock %}

{% block content %}
    <h1>Наши услуги</h1>
<p class="lead">
  Мы предоставляем качественные и надежные услуги, ориентированные на потребности наших клиентов.
</p>

<ul>
  <li>Профессиональные консультации и сопровождение</li>
  <li>Индивидуальные и корпоративные решения</li>
  <li>Поддержка и обслуживание на всех этапах</li>
</ul>

<p>
  Наша команда специалистов готова помочь вам достичь ваших целей. <a href="{% url 'contacts' %}">Свяжитесь с нами</a>, чтобы обсудить детали сотрудничества.
</p>

{% endblock %}