{% extends 'main/layout.html' %}

{% block title %}
    Услуги
{% endblock %}

{% block content %}
<div class="container">
  <h1 class="mb-4">Наши услуги</h1>
  <p class="lead">
    Мы предоставляем качественные и надёжные услуги, ориентированные на потребности наших клиентов.
  </p>

  <ul class="list-group mb-4">
    <li class="list-group-item">Профессиональные консультации и сопровождение</li>
    <li class="list-group-item">Индивидуальные и корпоративные решения</li>
    <li class="list-group-item">Поддержка и обслуживание на всех этапах</li>
  </ul>

  <p>
    Наша команда специалистов готова помочь вам достичь ваших целей. <a href="{% url 'contacts' %}" class="link-primary">Свяжитесь с нами</a>, чтобы обсудить детали сотрудничества.
  </p>
</div>
{% endblock %}
